<!DOCTYPE StreamControl>
<settings>
 <xsplitPath><![CDATA[pathtoOBS]]></xsplitPath>
 <layoutPath><![CDATA[C:\Users\marcos.martinez\Documents\Privados\StreamControl-FGCPucela\layout.xml]]></layoutPath>
 <useCDATA>1</useCDATA>
 <games>
  <game><![CDATA[WINNERS BRACKET]]></game>
  <game><![CDATA[LOSERS BRACKET]]></game>
  <game><![CDATA[TOP 8 WINNERS]]></game>
  <game><![CDATA[TOP 8 LOSERS]]></game>
  <game><![CDATA[WINNERS FINALS]]></game>
  <game><![CDATA[LOSERS FINALS]]></game>
  <game><![CDATA[GRAND FINALS]]></game>
 </games>
</settings>
