<!DOCTYPE StreamControl>
<settings>
 <altHotkeyHandling>0</altHotkeyHandling>
 <format>3</format>
 <games>
  <game>FREE PLAYS</game>
 </games>
 <layoutPath>C:\Users\marco\Documents\StreamControl-FGCPucela\layout.xml</layoutPath>
 <outputPath>C:\Users\marco\Documents\StreamControl-FGCPucela\</outputPath>
 <useCDATA>0</useCDATA>
 <xsplitPath>C:\Users\marco\Documents\StreamControl-FGCPucela\</xsplitPath>
</settings>
